.login,
.login * {
  box-sizing: border-box;
}
.login {
  background: linear-gradient(
    180deg,
    rgba(164, 195, 183, 1) 52.99999713897705%,
    rgba(78, 94, 87, 1) 67.5000011920929%
  );
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.rectangle-35 {
  background: linear-gradient(
    180deg,
    rgba(217, 217, 217, 1) 40.99999964237213%,
    rgba(115, 115, 115, 1) 100%
  );
  border-radius: 70px;
  border-style: solid;
  border-color: #a32222;
  border-width: 1px;
  width: 619px;
  height: 599px;
  position: absolute;
  left: 393px;
  top: 110px;
}
.foto-usuario {
  width: 103px;
  height: 118px;
  position: absolute;
  left: 651px;
  top: 110px;
}
.group-41 {
  position: absolute;
  inset: 0;
}
.group-40 {
  width: 103px;
  height: 118px;
  position: static;
}
.group-39 {
  width: 103px;
  height: 93.45px;
  position: static;
}
.ellipse-2 {
  background: #878989;
  border-radius: 50%;
  width: 103px;
  height: 93.45px;
  position: absolute;
  left: 0px;
  top: 24.56px;
}
.team {
  width: 59.04px;
  height: 49.47px;
  position: absolute;
  left: 21.65px;
  top: 0px;
}
.user-male {
  width: 90px;
  height: 59px;
  position: absolute;
  left: 6px;
  top: 42px;
  object-fit: cover;
}
.email {
  width: 570px;
  height: 72px;
  position: absolute;
  left: 414px;
  top: 289px;
}
.rectangle-36 {
  width: 570px;
  height: 53px;
  position: absolute;
  left: 0px;
  top: 10px;
  overflow: visible;
}
.gmail-logo {
  width: 56px;
  height: 72px;
  position: absolute;
  left: 16px;
  top: 0px;
  object-fit: cover;
}
.e-mail {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 259px;
  top: 16px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  -webkit-text-stroke: 1px #000000;
}
.cadastrar-se {
  width: 184px;
  height: 36px;
  position: absolute;
  left: 628px;
  top: 624px;
}
.cadastre-se {
  color: #0a0101;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  -webkit-text-stroke: 1px #000000;
}
.password {
  width: 570px;
  height: 54px;
  position: absolute;
  left: 414px;
  top: 408px;
}
.rectangle-37 {
  width: 570px;
  height: 53px;
  position: absolute;
  left: 0px;
  top: 1px;
  overflow: visible;
}
.password2 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 234px;
  top: 7px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  -webkit-text-stroke: 1px #000000;
}
.lock {
  width: 90px;
  height: 54px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.login2 {
  width: 308px;
  height: 51px;
  position: absolute;
  left: 566px;
  top: 558px;
}
.rectangle-38 {
  background: #543b3b;
  border-radius: 70px;
  width: 308px;
  height: 51px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.login3 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 113px;
  top: 3px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
