.cadastro-usu-rio,
.cadastro-usu-rio * {
  box-sizing: border-box;
}
.cadastro-usu-rio {
  background: linear-gradient(
    180deg,
    rgba(164, 195, 183, 1) 61.000001430511475%,
    rgba(78, 94, 87, 1) 67.5000011920929%
  );
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.rectangle-35 {
  background: linear-gradient(
    180deg,
    rgba(217, 217, 217, 1) 40.99999964237213%,
    rgba(115, 115, 115, 1) 100%
  );
  border-radius: 70px;
  border-style: solid;
  border-color: #a32222;
  border-width: 1px;
  width: 619px;
  height: 599px;
  position: absolute;
  left: 393px;
  top: 110px;
}
.rectangle-36 {
  width: 570px;
  height: 53px;
  position: absolute;
  left: 414px;
  top: 299px;
  overflow: visible;
}
.rectangle-39 {
  width: 570px;
  height: 53px;
  position: absolute;
  left: 414px;
  top: 232px;
  overflow: visible;
}
.gmail-logo {
  width: 56px;
  height: 54px;
  position: absolute;
  left: 412px;
  top: 299px;
  object-fit: cover;
}
.foto-usuario {
  width: 96px;
  height: 101px;
  position: absolute;
  left: 651px;
  top: 110px;
}
.group-40 {
  position: absolute;
  inset: 0;
}
.group-39 {
  width: 96px;
  height: 79.98px;
  position: static;
}
.ellipse-2 {
  background: #878989;
  border-radius: 50%;
  width: 96px;
  height: 79.98px;
  position: absolute;
  left: 0px;
  top: 21.02px;
}
.team {
  width: 55.03px;
  height: 42.34px;
  position: absolute;
  left: 20.18px;
  top: 0px;
}
.user-male {
  width: 90px;
  height: 59px;
  position: absolute;
  left: 6px;
  top: 42px;
  object-fit: cover;
}
.e-mail {
  color: #726868;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 519px;
  top: 307px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  -webkit-text-stroke: 1px #000000;
}
.nome-completo {
  color: #626060;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 467px;
  top: 240px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  -webkit-text-stroke: 1px #000000;
}
.cadastre-se {
  color: #0a0101;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 801px;
  top: 601px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  -webkit-text-stroke: 1px #000000;
}
.password-castro {
  background: #c6b9bb;
  width: 570px;
  height: 54px;
  position: absolute;
  left: 412px;
  top: 384px;
}
.rectangle-37 {
  width: 570px;
  height: 53px;
  position: absolute;
  left: 0px;
  top: 1px;
  overflow: visible;
}
.password {
  color: #300a0a;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 83px;
  top: 9px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  -webkit-text-stroke: 1px #747171;
}
.lock {
  width: 54px;
  height: 54px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.password-castro2 {
  background: #c6b9bb;
  width: 570px;
  height: 54px;
  position: absolute;
  left: 412px;
  top: 471px;
}
.rectangle-372 {
  width: 570px;
  height: 53px;
  position: absolute;
  left: 0px;
  top: 1px;
  overflow: visible;
}
.confirme-o-password {
  color: #636262;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 75px;
  top: 9px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  -webkit-text-stroke: 1px #000000;
}
.password-castro3 {
  background: #2e1c1c;
  width: 570px;
  height: 54px;
  position: absolute;
  left: 412px;
  top: 546px;
}
.rectangle-373 {
  width: 570px;
  height: 53px;
  position: absolute;
  left: 0px;
  top: 1px;
  overflow: visible;
}
.telefone {
  color: #494646;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 64px;
  top: 9px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  -webkit-text-stroke: 1px #423636;
}
.login-cadastro {
  width: 308px;
  height: 51px;
  position: absolute;
  left: 572px;
  top: 655px;
}
.rectangle-38 {
  background: #543b3b;
  border-radius: 70px;
  width: 308px;
  height: 51px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.login {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 61px;
  top: 11px;
  width: 187px;
  height: 28px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
